
	<div class="container" style="background-color:#f9feff;">
	<div class="row mt-5 pt-3 pb-3">
	<div class="col-md-8 p-5">
	<div class="row">
	<div class="col-md-2">
	<img src="/assets/img/Ellipse41.png">
	</div>
	<div class="col-md-10 p-3">
	<h3 class="float-start">Sri Sudharsanam Hospital, Avadi</h3>
	<p class="float-start">Sri Sudharsanam Hospital Private Limited</p>
	</div>
	</div>
	<div class="row mt-5">
	<h5 ><strong>About us</strong></h5>
	<hr class="mx-2 mt-2 mb-2" style="width:90%;">
	<p class="my-2 profiletxt">Sri Sudharsanam Hospital is a Dermatology Hospital in Avadi, Chennai. The clinic is visited by cardiologist like Dr. Sidharthan K and Dr. Gayathri Baluswamy. The timings of Sri Sudharsanam Hospital are: Mon-Sun: 00:00-23:59. Some of the services provided by the Hospital are: Electrocardiogram (ECG),Doppler Ultrasound,X-Ray,Spirometry and ECG etc.),Doppler Ultrasound,X-Ray,Spirometry and ECG etcSri Sudharsanam Hospital is a Dermatology Hospital in Avadi, Chennai. The clinic is visited by cardiologist like Dr. Sidharthan K and Dr. Gayathri Baluswamy. The timings of Sri Sudharsanam Hospital are: Mon-Sun: 00:00-23:59. </p>
	</div>
	
	<div class="row mt-5">
	<h5 ><strong>Members</strong></h5>
	<hr class="mx-2 mt-2 mb-2" style="width:90%;">
	<div class="row mb-5 mt-2">
	<div class="col-md-2">
	Contact 1:
	</div>
	<div class="col-md-10">
	<p class="mb-3"><strong>Sebastian Joseph, Management Head</strong></p>
	<span class="tblink"><img src="/assets/img/call.png" style="margin-right:5px;">1234567890</span> <span class="tblink pl-3"><img src="/assets/img/call.png" style="margin-right:5px;">1234567890</span>
	</div>
	
	</div>
	<div class="row">
	<div class="col-md-2">
	Contact 2:
	</div>
	<div class="col-md-10">
	<p class="mb-3"><strong>Sebastian Joseph, Management Head</strong></p>
	<span class="tblink"><img src="/assets/img/call.png" style="margin-right:5px;">1234567890</span> <span class="tblink pl-3"><img src="/assets/img/call.png" style="margin-right:5px;">1234567890</span>
	</div>
	
	</div>
	
	
	</div>
	
	
	
	
	</div>
	<div class="col-md-4 leftpart p-5 healshadow">
		<h5 class="mb-3"><strong>Address</strong></h5>
	<p class="mb-5">6/pc2-1, TNHB Road
Landmark: Near Avadi Municipality office
Avadi, Chennai</p>

	<h5 class="mb-3"><strong>Contact Number</strong></h5>
	<p class="mb-5">044-12345678</p>
	
	<h5 class="mb-3"><strong>Email ID</strong></h5>
	<p class="mb-5"><a href="">Hospital@gmail.com</a></p>
	
	<h5 class="mb-3"><strong>GST number</strong></h5>
	<p class="mb-5">12345678990987654321</p>
	
	<h5 class="mb-3"><strong>Hospital ID</strong></h5>
	<p class="mb-5">12345678990987654321</p>
	<hr>
	
	<a href="" class="healtbv text-center mx-3 pt-3 pb-3 w-100" >Reset Password</a>
	</div>

	</div>
	
	
	</div>

  

