<div class="container">
	<div class="row mt-4 mb-2">
		<div class="col-md-6">
			<h3>Claim ID: <strong>{{claimInfo.id}}</strong></h3>
			<span>{{claimInfo["hospitalMst"].name}}</span>
		</div>
		<div class="col-md-6">
			<!-- <a href="#" class="btn btn-primary btn-lg float-end mx-3">Final Claim</a> -->
			<a *ngIf="IsEdit" class="btn btn-primary btn-md px-5 float-end mt-3 mx-2"  (click)="GotoClaim(claimInfo.id)"
	         >Edit Claim</a> 
		</div>
		<div></div>
	</div>

	<div class="row">
		<div class="col-md-4 mb-3 bg-body rounded">
			<div class="healshadow p-2">
				<div class="float-start p-2 m-1">
					<img src="/assets/img/user.png">
				</div>
				<div class="p-1 mt-1"><span>Name: </span>
					<h5 class="mt-2"><strong>{{patientinfo.firstName +' '+ patientinfo.middleName +' '+ patientinfo.lastname}} &nbsp;</strong></h5>
				</div>
			</div>
		</div>

		<div class="col-md-4 mb-3 bg-body rounded">
			<div class="healshadow p-2">
				<div class="float-start p-2 m-1">
					<img src="/assets/img/calendar.png">
				</div>
				<div class="p-1 mt-1"><span>Admission Date: </span>
					<h5 class="mt-2"><strong>{{patientinfo.dateOfAdmission  | date:'shortDate'}} &nbsp;</strong></h5>
				</div>
			</div>
		</div>

		<div class="col-md-4 mb-3 bg-body rounded">
			<div class="healshadow p-2">
				<div class="float-start p-2 m-1">
					<img src="/assets/img/window_check.png">
				</div>
				<div class="p-1 mt-1"><span>Status: </span>
					<h5 class="mt-2"><strong>{{this.claimdetailData["statusMst"].name}} &nbsp;</strong></h5>
				</div>
			</div>
		</div>


	</div>

	<div class="row">
		<div class="col-md-4 bg-body rounded">
			<div class="healshadow p-2">
				<div class="float-start p-2 m-1">
					<img src="/assets/img/Group.png">
				</div>
				<div class="p-1 mt-1"><span>Ailment: </span>
					<h5 class="mt-2"><strong>{{medicalInfo["diagnosisMst"].name}}</strong></h5>
				</div>
			</div>
		</div>

		<div class="col-md-4 mb-5 bg-body rounded">
			<div class="healshadow p-2">
				<div class="float-start p-2 m-1">
					<img src="/assets/img/calendar_x.png">
				</div>
				<div class="p-1 mt-1"><span>Discharge Date: </span>
					<h5 class="mt-2"><strong>{{patientinfo.dateOfDischarge  | date:'shortDate'}}</strong></h5>
				</div>
			</div>
		</div>

		<div class="col-md-4 mb-5 bg-body rounded">
			<div class="healshadow p-2">
				<div class="float-start p-2 m-1">
					<img src="/assets/img/doughnut_chart.png">
				</div>
				<div class="p-1 mt-1"><span>Stage: </span>
					<h5 class="mt-2"><strong>{{this.claimdetailData["claimStageMst"].claimStageMstName}}</strong></h5>
				</div>
			</div>
		</div>


	</div>

	<div class="row">


		<div class="d-flex align-items-start vtabborder p-0">
			<div class="nav flex-column me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical"
				style="border-right: 1px solid #E2E5E5;">
				<li class="nav-item" role="presentation">
					<button class="nav-link healspantabv vb1 active" id="home-tab" data-bs-toggle="tab"
						data-bs-target="#Patient-Information" type="button" role="tab" aria-controls="home-tab-pane"
						aria-selected="true">Patient Information</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link healspantabv" id="profile-tab" data-bs-toggle="tab"
						data-bs-target="#Medical-Information" type="button" role="tab" aria-controls="profile-tab-pane"
						aria-selected="false">Medical Information</button>
				</li>
				<li class="nav-item " role="presentation">
					<button class="nav-link healspantabv" id="contact-tab" data-bs-toggle="tab"
						data-bs-target="#Insurance-Information" type="button" role="tab"
						aria-controls="contact-tab-pane" aria-selected="false">Insurance Information</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link healspantabv" id="profile-tab" data-bs-toggle="tab"
						data-bs-target="#Initial-Authorization" type="button" role="tab"
						aria-controls="profile-tab-pane" aria-selected="false">Initial Authorization</button>
				</li>
				<li class="nav-item " role="presentation">
					<button class="nav-link healspantabv" id="contact-tab" data-bs-toggle="tab"
						data-bs-target="#Enhancement" type="button" role="tab" aria-controls="contact-tab-pane"
						aria-selected="false">Enhancement</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link healspantabv" id="profile-tab" data-bs-toggle="tab"
						data-bs-target="#Discharge" type="button" role="tab" aria-controls="profile-tab-pane"
						aria-selected="false">Discharge</button>
				</li>
				<li class="nav-item " role="presentation">
					<button class="nav-link healspantabv vb2" id="contact-tab" data-bs-toggle="tab"
						data-bs-target="#Final-Claim" type="button" role="tab" aria-controls="contact-tab-pane"
						aria-selected="false">Final Claim</button>
				</li>

				<a href="" class="healtbv text-center mx-3 pt-3 pb-3">Download</a>
			</div>
			<div class="tab-content w-100 pe-5 ms-3" id="v-pills-tabContent">

				<!---------------------------------Patient-Information--------------------------->
				<div class="tab-pane fade show active" id="Patient-Information" role="tabpanel"
					aria-labelledby="v-pills-home-tab">

					<div class="row mt-1 pt-3">
						<div class="col-md-3 mb-3 bg-body rounded">
							<div class="p-2">

								<div class="p-1 mt-1"><span class="cl01">Name: </span>
									<h5 class="mt-3 f16"><strong>{{patientinfo.firstName}}</strong></h5>
								</div>
							</div>

						</div>

						<div class="col-md-3 mb-3 bg-body rounded">
							<div class="p-2">

								<div class="p-1 mt-1"><span class="cl01">Age: </span>
									<h5 class="mt-3 f16"><strong>{{patientinfo.age}}</strong></h5>
								</div>
							</div>
						</div>



						<div class="col-md-3 mb-3 bg-body rounded">
							<div class="p-2">

								<div class="p-1 mt-1"><span class="cl01">Gender: </span>
									<h5 class="mt-3 f16"><strong>{{patientinfo["genderMst"].name}}</strong></h5>
								</div>
							</div>
						</div>


						<div class="col-md-3 mb-3 bg-body rounded">
							<div class="p-2">

								<div class="p-1 mt-1">
									<h5 class="mt-3 f16 float-end"><strong
											style="color: #00B272;">Complete</strong>
											<!-- {{patientinfo.Status}} -->
									</h5>
								</div>
							</div>
						</div>



					</div>

					<div class="row mb-2">
						<div class="col-md-3 mb-3 bg-body rounded">
							<div class="p-2">

								<div class="p-1 mt-1"><span class="cl01">Date of Birth: </span>
									<h5 class="mt-3 f16"><strong>{{patientinfo.dateBirth | date:'shortDate'}}</strong></h5>
								</div>
							</div>
						</div>

						<div class="col-md-3 mb-3 bg-body rounded">
							<div class="p-2">

								<div class="p-1 mt-1"><span class="cl01"> </span>
									<h5 class="mt-3 f16"><strong></strong></h5>
								</div>
							</div>
						</div>



						<div class="col-md-3 mb-3 bg-body rounded">
							<div class="p-2">

								<div class="p-1 mt-1"><span class="cl01"> </span>
									<h5 class="mt-3 f16"><strong></strong></h5>
								</div>
							</div>
						</div>


						<div class="col-md-3 mb-3 bg-body rounded">
							<div class="p-2">

								<div class="p-1 mt-1">
									<h5 class="mt-3 f16 float-end"><strong style="color: #00B272;"></strong></h5>
								</div>
							</div>
						</div>



					</div>

				</div>


				<!---------------------------------Medical-Information--------------------------->
				<div class="tab-pane fade" id="Medical-Information" role="tabpanel"
					aria-labelledby="v-pills-profile-tab">

					<div class="row mt-1 pt-3">
						<div class="col-md-3 mb-3 bg-body rounded">
							<div class="p-2">

								<div class="p-1 mt-1"><span class="cl01">Procedure:</span>
									<h5 class="mt-3 f16"><strong>{{medicalInfo["procedureMst"].name}}</strong></h5>
								</div>
							</div>
						</div>

						<div class="col-md-3 mb-3 bg-body rounded">
							<div class="p-2">

								<div class="p-1 mt-1"><span class="cl01">Treatment Type </span>
									<h5 class="mt-3 f16"><strong>{{medicalInfo["treatmentTypeMst"].name}}</strong></h5>
								</div>
							</div>
						</div>



						<div class="col-md-3 mb-3 bg-body rounded">
							<div class="p-2">

								<div class="p-1 mt-1"><span class="cl01">Speciality:</span>
									<h5 class="mt-3 f16"><strong>{{medicalInfo["specialityMst"].name}}</strong></h5>
								</div>
							</div>
						</div>
						<div class="col-md-3 mb-3 bg-body rounded">
							<div class="p-2">

								<div class="p-1 mt-1">
									<h5 class="mt-3 f16 float-end"><strong
											style="color: #00B272;">Complete</strong>
											<!-- {{patientinfo.Status}} -->
									</h5>
								</div>
							</div>
						</div>

						
						<div class="col-md-3 mb-3 bg-body rounded">
							<div class="p-2">

								<div class="p-1 mt-1"><span class="cl01">DateOfFirstDiagnosis:</span>
									<h5 class="mt-3 f16"><strong>{{medicalInfo.dateOfFirstDiagnosis | date:'shortDate'}}</strong></h5>
								</div>
							</div>
						</div>

						<div class="col-md-3 mb-3 bg-body rounded">
							<div class="p-2">
								<div class="p-1 mt-1"><span class="cl01">DoctorName:</span>
									<h5 class="mt-3 f16"><strong>{{medicalInfo.doctorName}}</strong></h5>
								</div>
							</div>
						</div>
						<div class="col-md-3 mb-3 bg-body rounded">
							<div class="p-2">
								<div class="p-1 mt-1"><span class="cl01">DoctorRegistrationNumber:</span>
									<h5 class="mt-3 f16"><strong>{{medicalInfo.doctorRegistrationNumber}}</strong></h5>
								</div>
							</div>
						</div>
						<div class="col-md-3 mb-3 bg-body rounded">
							<div class="p-2">
								<div class="p-1 mt-1"><span class="cl01">DoctorQualification:</span>
									<h5 class="mt-3 f16"><strong>{{medicalInfo.doctorQualification}}</strong></h5>
								</div>
							</div>
						</div>


						<div class="col-md-3 mb-3 bg-body rounded">
							<div class="p-2">
								<div class="p-1 mt-1">
									<h5 class="mt-3 f16 float-end"><strong
											style="color: #00B272;">{{medicalInfo.Status}}</strong>
									</h5>
								</div>
							</div>
						</div>



					</div>

					<div class="row mt-1 pt-3">
						<div class="col-md-3 mb-3 bg-body rounded">
							<div class="p-2">

								<div class="p-1 mt-1"><span class="cl01">questionAnswersList</span>
									<!-- <h5 class="mt-3 f16"><strong>{{medicalInfo.Typeofvehicle}}</strong></h5> -->
								</div>
							</div>
						</div>

						<!-- <div class="col-md-3 mb-3 bg-body rounded">
							<div class="p-2">

								<div class="p-1 mt-1"><span class="cl01"> </span>
									<h5 class="mt-3 f16"><strong>Complete</strong></h5>
								</div>
							</div>
						</div> -->



						<div class="col-md-3 mb-3 bg-body rounded">
							<div class="p-2">

								<div class="p-1 mt-1"><span class="cl01"></span>
									<h5 class="mt-3 f16"><strong></strong></h5>
								</div>
							</div>
						</div>


						<div class="col-md-3 mb-3 bg-body rounded">
							<div class="p-2">

								<div class="p-1 mt-1">
									<h5 class="mt-3 f16 float-end"><strong style="color: #00B272;"></strong></h5>
								</div>
							</div>
						</div>



					</div>

				</div>
				<!------------------Insurance-Information---------------------------- -->
				<div class="tab-pane fade" id="Insurance-Information" role="tabpanel"
					aria-labelledby="v-pills-messages-tab">

					<div class="row mt-1 pt-3">
						<div class="col-md-3 mb-3 bg-body rounded">
							<div class="p-2">

								<div class="p-1 mt-1"><span class="cl01">Insurance Company: </span>
									<h5 class="mt-3 f16"><strong>{{insuranceInfo["insuranceCompanyMst"].name}}</strong></h5>
								</div>
							</div>
						</div>

						<div class="col-md-3 mb-3 bg-body rounded">
							<div class="p-2">

								<div class="p-1 mt-1"><span class="cl01">TPA: </span>
									<h5 class="mt-3 f16"><strong>{{insuranceInfo.tpaNumber}}</strong></h5>
								</div>
							</div>
						</div>



						<div class="col-md-3 mb-3 bg-body rounded">
							<div class="p-2">

								<div class="p-1 mt-1"><span class="cl01">TPA ID:</span>
									<h5 class="mt-3 f16"><strong>{{insuranceInfo["tpaMst"].name}}</strong></h5>
								</div>
							</div>
						</div>


						<div class="col-md-3 mb-3 bg-body rounded">
							<div class="p-2">

								<div class="p-1 mt-1">
									<h5 class="mt-3 f16 float-end"><strong
											style="color: #00B272;">{{insuranceInfo.Status}}</strong>
									</h5>
								</div>
							</div>
						</div>



					</div>


					<div class="row mt-1 pt-3">
						<div class="col-md-3 mb-3 bg-body rounded">
							<div class="p-2">

								<div class="p-1 mt-1"><span class="cl01">Company / Corporate / Group : </span>
									<h5 class="mt-3 f16"><strong>{{insuranceInfo.groupCompany}}</strong></h5>
								</div>
							</div>
						</div>

						<div class="col-md-3 mb-3 bg-body rounded">
							<div class="p-2">

								<div class="p-1 mt-1"><span class="cl01">Relation: </span>
									<h5 class="mt-3 f16"><strong>{{insuranceInfo["relationshipMst"].name}}</strong></h5>
								</div>
							</div>
						</div>



						<div class="col-md-3 mb-3 bg-body rounded">
							<div class="p-2">

								<div class="p-1 mt-1"><span class="cl01">Policy Holder:</span>
									<h5 class="mt-3 f16"><strong>{{insuranceInfo.policyHolderName}}</strong></h5>
								</div>
							</div>
						</div>


						<div class="col-md-3 mb-3 bg-body rounded">
							<div class="p-2">

								<div class="p-1 mt-1">
									<h5 class="mt-3 f16 float-end"><strong style="color: #00B272;"></strong></h5>
								</div>
							</div>
						</div>



					</div>


				</div>


	<!-----------------------------------Initial-Authorization-------------------------- -->
				<div class="tab-pane fade" id="Initial-Authorization" role="tabpanel"
					aria-labelledby="v-pills-home-tab">
					<div class="row mt-1 pt-3">
						<div class="col-md-3 mb-3 bg-body rounded">
							<div class="px-2">

								<div class="p-1 mt-1">Created Date: <span
										class="cl01"><strong></strong>
									</span>
									<h5 class="mt-3 f16"><strong></strong></h5>
								</div>
							</div>
						</div>

						<div class="col-md-3 mb-3 bg-body rounded">
							<div class="px-2">

								<div class="p-1 mt-1"><span class="cl01"></span>
									<h5 class="mt-3 f16"><strong></strong></h5>
								</div>
							</div>
						</div>



						<div class="col-md-3 mb-3 bg-body rounded">
							<div class="px-2">

								<div class="p-1 mt-1"><span class="cl01"></span>
									<h5 class="mt-3 f16"><strong></strong></h5>
								</div>
							</div>
						</div>


						<div class="col-md-3  bg-body rounded">
							<div class="p-2">

								<div class="p-1 mt-1">
									<h5 class="mt-3 f16 float-end"><strong
											style="color: #00B272;"></strong>
											<!-- {{InitialData.Status}} -->
									</h5>
								</div>
							</div>
						</div>
					</div>

					<div class="row mt-1">

						<div class="col-md-6">
							<div class="row mb-3 bg-body rounded"
								*ngFor="let h of InitialDoc ,let i = index ">

								<div class="col-md-6">
									<div class="px-3">
										<h5 class="mt-3 f16"><strong>Document {{i+1}}:</strong></h5>
										<h5 class="mt-3 f16"><a class="doc" (click)="docopen(h.id)">{{h.documentType}}</a></h5>


									</div>
									
								</div>
								<div  *ngIf="h.documentPath == null" class="col-md-6">
									<a href="" class="btn btn-primary btn-sm px-3 mt-5 healshadow"> Upload <img
											src="/assets/img/Arrow-54w.png"> </a>
								</div>
								<div  *ngIf="h.documentPath != null"  class="col-md-6">
								
									<a  style="background-color: #E2E5E5 !important;"  class="btn btn-primary btn-sm px-3 mt-5 healshadow"> Upload <img
										 	src="/assets/img/Arrow-54w.png"> </a>
						
								</div>


							</div>
						</div>
						<div class="col-md-2 mb-3 bg-body rounded">
							<div class="px-2">

								<div class="p-1 mt-1"><span class="cl01">Estimated Cost: </span>
									<h5 class="mt-3 f16"><strong>INR {{patientinfo.initialCostEstimate}}</strong></h5>
								</div>
								<div class="p-1 mt-1"><span class="cl01">Approval Cost: </span>
									<h5 class="mt-3 f16"><strong>INR 0</strong></h5>
								</div>
							</div>
						</div>

					</div>
				
				</div>

				<div class="tab-pane fade" id="Enhancement" role="tabpanel" aria-labelledby="v-pills-profile-tab" style="height: 500px; overflow: scroll; overflow-x: hidden;">
			
					<div class="row mt-1">
						<div class="col-md-6">
							<div class="row mb-3 bg-body rounded"
								*ngFor="let h of EnhancmentDoc ,let i = index ">

								<div class="col-md-6">
									<div class="px-3">
										<h5 class="mt-3 f16"><strong>Document {{i+1}}:</strong></h5>
										<h5 class="mt-3 f16"><a class="doc" routerLink="[]" (click)="docopen(h.id)">{{h.documentType}}</a></h5>
									</div>
								</div>
								<!-- {{h.documentPath}} -->
								<div  *ngIf="h.documentPath == null" class="col-md-6">
									<a href="" class="btn btn-primary btn-sm px-3 mt-5 healshadow"> Upload <img
											src="/assets/img/Arrow-54w.png"> </a>
								</div>
								<div  *ngIf="h.documentPath != null"  class="col-md-6">
								
									<a  style="background-color: #E2E5E5 !important;"  class="btn btn-primary btn-sm px-3 mt-5 healshadow"> Upload <img
										 	src="/assets/img/Arrow-54w.png"> </a>
						
								</div>

							</div>
						</div>





						<div class="col-md-2 mb-3 bg-body rounded">
							<div class="px-2">

								<div class="p-1 mt-1"><span class="cl01">Estimated Cost: </span>
									<h5 class="mt-3 f16"><strong>INR {{patientinfo.initialCostEstimate}}</strong></h5>
								</div>
								<div class="p-1 mt-1"><span class="cl01">Approval Cost: </span>
									<h5 class="mt-3 f16"><strong>INR 0</strong></h5>
								</div>
							</div>
						</div>

					</div>

				</div>



				<div class="tab-pane fade" id="Discharge" role="tabpanel" aria-labelledby="v-pills-messages-tab">

					<div class="row mt-1">
						<div class="col-md-6">
							<div class="row mb-3 bg-body rounded"
							*ngFor="let h of DischargeDoc ,let i = index ">

							<div class="col-md-6">
								<div class="px-3">
									<h5 class="mt-3 f16"><strong>Document {{i+1}}:</strong></h5>
									<h5 class="mt-3 f16"><a class="doc" (click)="docopen(h.id)">{{h.documentType}}</a></h5>


								</div>

							</div>

							<div  *ngIf="h.documentPath == null" class="col-md-6">
								<a href="" class="btn btn-primary btn-sm px-3 mt-5 healshadow"> Upload <img
										src="/assets/img/Arrow-54w.png"> </a>
							</div>
							<div  *ngIf="h.documentPath != null"  class="col-md-6">
							
								<a  style="background-color: #E2E5E5 !important;"  class="btn btn-primary btn-sm px-3 mt-5 healshadow"> Upload <img
										 src="/assets/img/Arrow-54w.png"> </a>
					
							</div>


						</div>
						</div>
						<div class="col-md-2 mb-3 bg-body rounded">
							<div class="px-2">

								<div class="p-1 mt-1"><span class="cl01">Estimated Cost: </span>
									<h5 class="mt-3 f16"><strong>INR {{patientinfo.initialCostEstimate}}</strong></h5>
								</div>
								<div class="p-1 mt-1"><span class="cl01">Approval Cost: </span>
									<h5 class="mt-3 f16"><strong>INR 0</strong></h5>
								</div>
							</div>
						</div>

					</div>
				</div>


				<div class="tab-pane fade" id="Final-Claim" role="tabpanel" aria-labelledby="v-pills-messages-tab">
					<div class="row mt-1">
						<div class="col-md-6">
							<div class="row mb-3 bg-body rounded"
								*ngFor="let h of FinalDoc ,let i = index ">
								<div class="col-md-6">
									<div class="px-3">
										<h5 class="mt-3 f16"><strong>Document {{i+1}}:</strong></h5>
										<h5 class="mt-3 f16"><a class="doc" (click)="docopen(h.id)">{{h.documentType}}</a></h5>
									</div>
								</div>

								<div  *ngIf="h.documentPath == null" class="col-md-6">
									<a href="" class="btn btn-primary btn-sm px-3 mt-5 healshadow"> Upload <img
											src="/assets/img/Arrow-54w.png"> </a>
								</div>
								<div  *ngIf="h.documentPath != null"  class="col-md-6">
								
									<a  style="background-color: #E2E5E5 !important;"  class="btn btn-primary btn-sm px-3 mt-5 healshadow"> Upload <img
										 	src="/assets/img/Arrow-54w.png"> </a>
						
								</div>


							</div>
						</div>





						<div class="col-md-2 mb-3 bg-body rounded">
							<div class="px-2">

								<div class="p-1 mt-1"><span class="cl01">Estimated Cost: </span>
									<h5 class="mt-3 f16"><strong>INR {{patientinfo.initialCostEstimate}}</strong></h5>
								</div>
								<div class="p-1 mt-1"><span class="cl01">Approval Cost: </span>
									<h5 class="mt-3 f16"><strong>INR 0</strong></h5>
								</div>
							</div>
						</div>

					</div>
					<div class="row mt-1">
						<span class="px-3"><strong>Review Notes:</strong> It is a long established fact that a
							reader
							will be distracted by the readable content of a page when looking at its layout. The
							point
							of using Lorem Ipsum is that it has a more-or-less normal distribution of
							letters.</span>
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="row">
<div class="col-md-12 mb-2">
	<a type="button" class="btn btn-primary btn-md px-5 float-start mt-3 mx-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Query & Rejection</a>

	<a class="btn btn-primary btn-md px-5 float-end mt-3 mx-2"  (click)="approveClick()"
	  >Approve</a> 
	</div>
	</div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		
		<div class="modal-body">
		 <div class="mb-3">
	<label for="exampleFormControlTextarea1" class="form-label">Reviwe Note</label>
	<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae"></textarea>
  </div>
  <label for="exampleFormControlTextarea1" class="form-label">Required Documents</label>
  <select class="form-select" aria-label="Default select example">
	<option selected>Open this select menu</option>
	<option value="1">One</option>
	<option value="2">Two</option>
	<option value="3">Three</option>
  </select>
  <span class="float-end w-100">*All mandatory fields must be filled to send a querry</span>
  
  <div class="row">
  <div class="col-md-12 mt-3">
  <a href="" class="btn btn-primary btn-lg float-front" data-bs-toggle="modal" data-bs-target="#exampleModal">	Cancel
	  </a>
	  
	  <a href="" class="btn btn-primary btn-lg float-end" data-bs-toggle="modal" data-bs-target="#exampleModal">	Send
	  </a>
	  </div>
  </div>
  
  
		</div>
		
	  </div>
	</div>
</div>