<div class="container-fluid p-0" style="background-color:#f9feff;">
    <div class="row mx-0">

        <section class="multi_step_form px-0">
            <form id="msform">
                <!-- Tittle -->
                <!-- progressbar -->
                <ul id="progressbar">
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <!-- fieldsets -->
                <fieldset>
                    <div class="form-row">
                        <div class="form-group col-md-12 mb-3">
                            <h4 class="float-start">Patient Information</h4>
                        </div>
                    </div>
                    <div class="form-row">

                        <div class="form-group col-md-4">
                            <label for="" class="form-label float-start">First name*</label>
                            <input type="text" class="form-control" placeholder="First Name">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="" class="form-label float-start">Middle name</label>
                            <input type="text" class="form-control" placeholder="Middle Name">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="" class="form-label float-start">Last name</label>
                            <input type="text" class="form-control" placeholder="Last Name">
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-3 mt-5">
                            <label for="" class="form-label float-start">Gender*</label>

                            <select class="form-control form-select" id="country" required>
                                <option value="">Choose...</option>
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>
                        <div class="form-group col-md-3 mt-5">
                            <label for="" class="form-label float-start">Date of Birth*</label>
                            <input type="text" class="form-control" placeholder="Date of Birth">
                        </div>
                        <div class="form-group col-md-3 mt-5">
                            <label for="" class="form-label float-start">Age*</label>
                            <input type="text" class="form-control" placeholder="Age">
                        </div>
                        <div class="form-group col-md-3 mt-5">
                            <label for="" class="form-label float-start">Stage*</label>
                            <input type="text" class="form-control" placeholder="Stage">
                        </div>
                    </div>
                    <div class="form-row w-100">
                        <div class="form-group col-md-12 mt-5">
                            <input type="checkbox" class="form-check-input float-start" id="same-address">
                            <label class="form-check-label  float-start" for="same-address">&nbsp; Patient is the
                                primary insured</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 mt-5">
                            <label for="" class="form-label float-start">Hospital Name*</label>
                            <select class="form-control form-select" id="country" required>
                                <option value="">Choose...</option>
                                <option>King Edward Memorial Hospital</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>
                        <div class="form-group col-md-3 mt-5">
                            <label for="" class="form-label float-start">Date of Addmission*</label>
                            <input type="text" class="form-control" placeholder="Date of Addmission">
                        </div>
                        <div class="form-group col-md-3 mt-5">
                            <label for="" class="form-label float-start">Date of Discharge*</label>
                            <input type="text" class="form-control" placeholder="Date of Discharge">
                        </div>

                    </div>
                    <div class="form-row ">
                        <div class="form-group col-md-4 mt-5">
                            <label for="" class="form-label float-start">Ailment*</label>
                            <select class="form-control form-select" id="country" required>
                                <option value="">Choose...</option>
                                <option>Road Accident</option>
                                <option>Female</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>
                        <div class="form-group col-md-4 mt-5">
                            <label for="" class="form-label float-start">Total Bill Amount</label>
                            <input type="text" class="form-control" placeholder="Total Bill Amount">
                        </div>
                        <div class="form-group col-md-4 mt-5">
                            <label for="" class="form-label float-start">Claim Amount*</label>
                            <input type="text" class="form-control" placeholder="Claim Amount">
                        </div>
                    </div>
                    <button type="button" class="previous_button btn btn-lg px-5 float-start mt-5">Exit</button>
                    <button type="button" class="next btn btn-primary btn-lg px-5 float-end mt-5">Continue</button>
                </fieldset>

                <fieldset>
                    <div class="form-row">
                        <div class="form-group col-md-12 mb-3">

                            <h4 class="float-start">Insurance Information</h4>

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="" class="form-label float-start">Insurance Company*</label>
                            <select class="form-control form-select" id="country" required>
                                <option value="">Choose...</option>
                                <option>Go Digit</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a Insurance Company.
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="" class="form-label float-start">TPA*</label>
                            <input type="text" class="form-control" placeholder="TPA">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="" class="form-label float-start">TPA ID*</label>
                            <input type="text" class="form-control" placeholder="TPA ID">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3 mt-5">
                            <label for="" class="form-label float-start">Policy Holder*</label>
                            <input type="text" class="form-control" placeholder="Policy Holder">
                        </div>
                        <div class="form-group col-md-3 mt-5">
                            <label for="" class="form-label float-start">Relation of patient with Policy Holder*</label>
                            <input type="text" class="form-control"
                                placeholder="Relation of patient with Policy Holder">
                        </div>
                        <div class="form-group col-md-6 mt-5">
                            <label for="" class="form-label float-start">Policy Number*</label>
                            <input type="text" class="form-control" placeholder="Policy Number ">
                        </div>
                    </div>
                    <div class="form-row w-100">
                        <div class="form-group col-md-6 mt-5">
                            <input type="checkbox" class="form-check-input float-start" id="same-address">
                            <label class="form-check-label  float-start" for="same-address">&nbsp; Group Policy</label>
                        </div>
                        <div class="form-group col-md-6 mt-5" style="visibility:hidden;">
                            <input type="checkbox" class="form-check-input float-start" id="same-address">
                            <label class="form-check-label  float-start" for="same-address">&nbsp; Group Policy</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 mt-5">
                            <label for="" class="form-label float-start">Company / Corporate / Group*</label>
                            <input type="text" class="form-control" placeholder="Company / Corporate / Group *">
                        </div>
                        <div class="form-group col-md-6 mt-5" style="visibility:hidden;">
                            <label for="" class="form-label float-start">Company / Corporate / Group*</label>
                            <input type="text" class="form-control" placeholder="Company / Corporate / Group *">
                        </div>
                    </div>
                    <button type="button" class="action-button previous previous_button float-start mt-5">Back</button>
                    <button type="button" class="next action-button float-end mt-5">Continue</button>
                </fieldset>
                
                <fieldset>
                    <div class="row mb-5">
                        <div class="col-md-10">
                            <h4 class="float-start">Documents Upload</h4>
                        </div>
                        <div class="col-md-2">
                            <h5 class="float-start"><a href="" class="nolink"><img src="/assets/img/add.png"> Add File</a></h5>
                        </div>
                    </div>
                    <!--  <form id="upload_form" enctype="multipart/form-data" method="post"> -->
                    <div class="form-row">
                        <div class="form-group col-md-2 ms-5 me-3">
                            <input type="file" name="file1" id="file1" onchange="uploadFile()"
                                class="uploadbox healshadow"><br>
                            <p class="uploadtext">Hospital Registration Certificate</p>
                            <progress id="progressBar" value="0" max="100" class="uploadpro">Upload</progress>
                            <h3 id="status"></h3>
                            <p id="loaded_n_total"></p>
                    
                        </div>
                        <div class="form-group col-md-2 mx-3">
                            <input type="file" name="file1" id="file2" onchange="uploadFile()"
                                class="uploadbox healshadow"><br>
                            <progress id="progressBar" value="0" max="100" class="uploadpro">Upload</progress>
                            <h3 id="status"></h3>
                            <p id="loaded_n_total"></p>
                        </div>
                        <div class="form-group col-md-2 mx-3">
                            <input type="file" name="file1" id="file3" onchange="uploadFile()"
                                class="uploadbox healshadow"><br>
                            <progress id="progressBar" value="0" max="100" class="uploadpro">Upload</progress>
                            <h3 id="status"></h3>
                            <p id="loaded_n_total"></p>
                        </div>
                        <div class="form-group col-md-2 mx-3">
                            <input type="file" name="file1" id="file4" onchange="uploadFile()"
                                class="uploadbox healshadow"><br>
                            <progress id="progressBar" value="0" max="100" class="uploadpro">Upload</progress>
                            <h3 id="status"></h3>
                            <p id="loaded_n_total"></p>
                        </div>
                        <div class="form-group col-md-2 me-3">
                            <input type="file" name="file1" id="file5" onchange="uploadFile()"
                                class="uploadbox healshadow"><br>
                            <progress id="progressBar" value="0" max="100" class="uploadpro">Upload</progress>
                            <h3 id="status"></h3>
                            <p id="loaded_n_total"></p>
                        </div>
                    </div>
                    <!-- </form> -->
                    <button type="button" class="action-button previous previous_button float-start mt-3">Back</button>
                    <button type="button" class="next action-button float-end mt-3">Continue</button>
                </fieldset>

                <fieldset>
                    <div class="form-row">
                        <div class="form-group col-md-12 mb-3">
                            <img src="/assets/img/undraw-completing-re-i7ap.png" class="m-3 p-3">

                            <h5 style="color:#4C9EAA;"><strong>Submitted for Approval Successfully!</strong></h5>
                        </div>
                        <div class="form-group col-md-12 mt-5 mb-3">
                            <!-- <button type="button" class="action-button previous previous_button">Back</button>  -->
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <p>You will be automatically redirected to home page...</p>
                        </div>
                        <div class="form-group col-md-6">
                            <a href="dashboard-insu.html" class="btn btn-primary btn-lg px-5 float-end">Dashboard</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        
        </section>
    </div>
</div>