<div class="container-fluid p-0" style="background-color:#f9feff;">



    <div class="row mx-0">
        <section class="multi_step_form px-0">
            <form id="msform">
                <!-- Tittle -->

                <!-- progressbar -->
                <ul id="progressbar">
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <!-- fieldsets -->


                <fieldset>

                    <form [formGroup]="ClaimForm" (ngSubmit)="OnPatientSubmit(ClaimForm)" id="ngForm">
                        <div class="col-md-12">
                            <div class="form-row">
                                <div class="form-group col-md-12 mb-3">

                                    <h4 class="float-start">Patient Information</h4>

                                </div>
                            </div>
                            <div class="form-row ">

                                <div class="form-group col-md-3">
                                    <label for="" class="form-label float-start">First name*</label>
                                    <input type="text" class="form-control"  formControlName="Fname" 
                                        [class.is-invalid]="f['Fname'].invalid && (f['Fname'].dirty || f['Fname'].touched)"
                                        required>

                                </div>
                                <div class="form-group col-md-3">
                                    <label for="" class="form-label float-start">Middle name</label>
                                    <input type="text" class="form-control" formControlName="Mname">

                                </div>
                                <div class="form-group col-md-3">
                                    <label for="" class="form-label float-start">Last name*</label>
                                    <input type="text" class="form-control" formControlName="Lname"
                                        [class.is-invalid]="f['Lname'].invalid && (f['Lname'].dirty || f['Lname'].touched)"
                                        required>

                                </div>
                                <div class="form-group col-md-3">
                                    <label for="" class="form-label float-start">Patient Mobile No</label>
                                    <input type="number" class="form-control" formControlName="MobileNo" required>
                                    <div *ngIf=" f['MobileNo'].errors" class="invalid-feedback">
                                        <div *ngIf="f['MobileNo'].errors['MobileNo']">
                                            Username must not exceed 40 characters
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-3 mt-5">
                                    <label for="" class="form-label float-start">Patient Hospital UHID</label>
                                    <input type="text" class="form-control" formControlName="PHUHID"
                                        [class.is-invalid]="f['PHUHID'].invalid && (f['PHUHID'].dirty || f['PHUHID'].touched)"
                                        required>
                                </div>
                                <div class="form-group col-md-3 mt-5">
                                    <label for="" class="form-label float-start">Gender</label>
                                    <select class="form-control form-select" formControlName="Gender" id="Gender"
                                        [class.is-invalid]="f['Gender'].invalid && (f['Gender'].dirty || f['Gender'].touched)"
                                        (change)="OnGenderSelect($event)" required>
                                        <option value="">Choose...</option>
                                        <option *ngFor="let g of GenderDetail" value={{g.GenderName}}>{{g.GenderName}}
                                        </option>

                                    </select>

                                </div>
                                <div class="form-group col-md-3 mt-5">
                                    <label for="" class="form-label float-start">Date Of Birth</label>
                                    <input type="date" class="form-control" formControlName="DOB"
                                        (input)="ageCalculator()" id="dob" [max]="date" required>
                                </div>
                                <div class="form-group col-md-3 mt-5">
                                    <label for="" class="form-label float-start">Age*</label>
                                    <input type="text" class="form-control" formControlName="Age" [ngModel]="showAge"
                                        readonly>
                                </div>

                            </div>
                            <div class="form-row w-100">
                                <div class="form-group col-md-12 mt-5">
                                    <input type="checkbox" class="form-check-input float-start" id="same-address"
                                        formControlName="patientprimaryInsured">
                                    <label class="form-check-label  float-start" for="same-address">&nbsp; Patient
                                        is the
                                        primary insured*</label>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-3 mt-5">
                                    <label for="" class="form-label float-start">Stage*</label>
                                    <input type="text" class="form-control" formControlName="Stage" required readonly>

                                </div>
                                <div class="form-group col-md-3 mt-5">
                                    <label for="" class="form-label float-start">Hospital Name*</label>
                                    <select class="form-control form-select" id="country" formControlName="HospitalName"
                                        [class.is-invalid]="f['HospitalName'].invalid && (f['HospitalName'].dirty || f['HospitalName'].touched)"
                                        required>
                                        <option value="">Choose...</option>
                                        <option *ngFor="let r of hospitalDetail" value="{{r.id}}">{{r.name}}
                                        </option>
                                    </select>

                                </div>
                                <div class="form-group col-md-3 mt-5">
                                    <label for="" class="form-label float-start">Date Of Admission</label>

                                    <input type="date" class="form-control" formControlName="DateOfAdmission"
                                        placeholder="Choose a date" [max]="todaysdate | date:'HH:mm'"
                                        [(ngModel)]="dateSent" (input)="changeDate()" required>
                                    


                                </div>

                                <div class="form-group col-md-3 mt-5">

                                    <label for="" class="form-label float-start">Estimated date of discharge</label>
                                    <input type="date" class="form-control" formControlName="DateOfDischarge"
                                        placeholder="Choose a date" [disabled]="!dateSent" [min]="dateSent"
                                        [max]="todaysdate" [value]="dateReceived" required>


                                </div>

                            </div>
                            <div class="form-row ">
                                <div class="form-group col-md-3 mt-5">
                                    <label for="" class="form-label float-start">Room Category</label>
                                    <select class="form-control form-select" formControlName="RoomCategory"
                                        [class.is-invalid]="f['RoomCategory'].invalid && (f['RoomCategory'].dirty || f['RoomCategory'].touched)"
                                        id="RoomCategory" required>
                                        <option value="">Choose...</option>
                                        <option *ngFor="let r of roomsDetail" value="{{r.id}}">{{r.category}}
                                        </option>

                                    </select>

                                </div>
                                <div class="form-group col-md-3 mt-5">
                                    <label for="" class="form-label float-start">Cost Per Day</label>
                                    <input type="number" class="form-control" formControlName="CostPD"
                                        [class.is-invalid]="f['CostPD'].invalid && (f['CostPD'].dirty || f['CostPD'].touched)"
                                        required>

                                </div>
                                <div class="form-group col-md-3 mt-5">
                                    <label for="" class="form-label float-start">Total Room Cost</label>
                                    <input type="number" class="form-control" formControlName="totalRC" required>

                                </div>
                                <div class="form-group col-md-3 mt-5">
                                    <label for="" class="form-label float-start">Other Costs</label>
                                    <select class="form-control form-select" formControlName="OtherC" id="OtherC"
                                        required>
                                        <option value="">Choose...</option>
                                        <option *ngFor="let o of OtherCosts" value={{o.id}}>{{o.costType}}
                                        </option>

                                    </select>
                                    <!-- <mat-form-field>              
                                        <mat-select class="form-control form-select" formControlName="OtherC"  placeholder="Choose" (selectionChange)="costSelect($event)" multiple>
                                            <mat-option *ngFor="let o of OtherCosts" value={{o.id}}>{{o.costType}}</mat-option>
                                          </mat-select>
                                    </mat-form-field> -->

                                </div>
                            </div>
                            <div class="form-row ">
                                <div class="form-group col-md-3 mt-5" >
                                    <label for="" class="form-label float-start">Other Cost Estimate</label>
                                    <input type="text" class="form-control" formControlName="OtherCE">

                                </div>
                                <div class="form-group col-md-3 mt-5">
                                    <label for="" class="form-label float-start">Procedure</label>
                                    <select class="form-control form-select" formControlName="Procedure" id="Procedure"
                                        (change)="onprocedureSelect($event)" required>
                                        <option value="">Choose...</option>
                                        <option *ngFor="let p of procedureDetail" value={{p.id}}>
                                            {{p.name}}</option>

                                    </select>

                                </div>
                                <div class="form-group col-md-3 mt-5">
                                    <label for="" class="form-label float-start">Inital cost estimate</label>
                                    <input type="text" class="form-control" formControlName="InitialCE" required>

                                </div>
                                <div class="form-group col-md-3 mt-5">
                                    <label for="" class="form-label float-start">Total Bill Amount</label>
                                    <input type="text" class="form-control" formControlName="TotalBillAmount" required>

                                </div>
                            </div>



                            <div class="form-row ">


                                <div class="form-group col-md-3 mt-5">
                                    <label for="" class="form-label float-start">Claim Amount*</label>
                                    <input type="text" class="form-control" formControlName="ClaimAmount" required>

                                </div>
                            </div>
                        </div>

                    </form>

                    <button type="button"  form="ngForm"  class="previous_button btn btn-lg px-5 float-start mt-5">Exit</button>
                    <button type="button" class="next btn btn-primary btn-lg px-5 float-end mt-5" type="submit"
                        form="ngForm" [disabled]="!ClaimForm.valid">Continue</button>


                </fieldset>



                <fieldset>
                    <form [formGroup]="medicalForm" class="mb-5" id="medform" (ngSubmit)="onMedformSubmit(medicalForm)">
                        <div class="form-row">
                            <div class="form-group col-md-12 mb-3">
                                <h4 class="float-start">Medical Information</h4>
                            </div>
                        </div>
                        <div class="form-row">

                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="" class="form-label float-start">Procedure</label>
                                <input type="text" class="form-control" formControlName="Procedures" required readonly>

                            </div>

                            <div class="form-group col-md-3">
                                <label for="" class="form-label float-start">Treatment Type</label>
                                <select class="form-control form-select" formControlName="TreatmentType"
                                    [class.is-invalid]="M['TreatmentType'].invalid && (M['TreatmentType'].dirty || M['TreatmentType'].touched)"
                                    id="TreatmentType" required>
                                    <option value="">Choose...</option>
                                    <option value="1">Surgical management</option>
                                    <option value="2">Medical management</option>
                                </select>

                            </div>
                            <div class="form-group col-md-3 ">
                                <label for="" class="form-label float-start">Provisional diagnosis</label>
                                <select class="form-control form-select" formControlName="Provisionaldiagnosis"
                                    [class.is-invalid]="M['Provisionaldiagnosis'].invalid && (M['Provisionaldiagnosis'].dirty || M['Provisionaldiagnosis'].touched)"
                                    id="Provisionaldiagnosis" required>
                                    <option value="">Choose...</option>
                                    <option *ngFor="let p of DiagnosisDetail" value={{p.id}}>
                                        {{p.name}}</option>


                                </select>

                            </div>
                            <div class="form-group col-md-3  ">
                                <label for="" class="form-label float-start">Speciality</label>
                                <select class="form-control form-select" formControlName="Speciality"
                                    [class.is-invalid]="M['Speciality'].invalid && (M['Speciality'].dirty || M['Speciality'].touched)"
                                    id="Speciality" required>

                                    <option value="">Choose...</option>
                                    <option *ngFor="let p of specialityDetail" value={{p.id}}>
                                        {{p.name}}</option>

                                </select>

                            </div>

                        </div>

                        <div class="form-row">

                            <div class="form-group col-md-3 mt-5">
                                <label for="" class="form-label float-start">Date of first diagnosis</label>
                                <input type="date" class="form-control" formControlName="Dateoffirstdiagnosis"
                                    placeholder="Choose a date" id="Dateoffirstdiagnosis" [max]="date" required>
                            </div>

                            <div class="form-group col-md-3  mt-5">
                                <label for="" class="form-label float-start">Past history of chronic illness</label>
                                <select class="form-control form-select" formControlName="Pasthistoryofchronicillness"
                                    [class.is-invalid]="M['Pasthistoryofchronicillness'].invalid && (M['Pasthistoryofchronicillness'].dirty || M['Pasthistoryofchronicillness'].touched)"
                                    id="Pasthistoryofchronicillness" required>
                                    <option value="">Choose...</option>
                                    <option *ngFor="let p of chronicillnessDetail" value={{p.id}}>
                                        {{p.name}}</option>

                                </select>

                            </div>
                            <div class="form-group col-md-3  mt-5">
                                <label for="" class="form-label float-start">Name of the treating doctor</label>
                                <input type="text" class="form-control" formControlName="Nameofthetreatingdoctor"
                                    [class.is-invalid]="M['Nameofthetreatingdoctor'].invalid && (M['Nameofthetreatingdoctor'].dirty || M['Nameofthetreatingdoctor'].touched)"
                                    required>

                            </div>
                            <div class="form-group col-md-3  mt-5">
                                <label for="" class="form-label float-start">Dr Resgistration number</label>
                                <input type="text" class="form-control" formControlName="DrResgistrationnumber"
                                    required>

                            </div>

                        </div>
                        <div class="form-row">

                            <div class="form-group col-md-3  mt-5">
                                <label for="" class="form-label float-start">Qualification of the Treating
                                    Doctor</label>
                                <input type="text" class="form-control"
                                    formControlName="Qualificationofthetreatingdoctor" required>

                            </div>

                            <div class="form-group col-md-3 mt-5">
                                <label for="" class="form-label float-start">Gender</label>
                                <input type="text" class="form-control" formControlName="Genders" readonly>
                            </div>
                            <div class="form-group col-md-3 mt-5">
                                <label for="" class="form-label float-start">Age</label>
                                <input type="text" class="form-control" formControlName="Ages" readonly>
                            </div>
                        </div>

                        <div class="form-row">
                           
                            <div class="form-group col-md-3  mt-5">
                                <label for="" class="form-label float-start">Duration</label>
                                <select class="form-control form-select" formControlName="Duration" id="Duration"
                                    required>
                                    <option value="">Choose...</option>
                                    <option value="Less than 24 hours">Less than 24 hours</option>
                                    <option value="Greater than 24 hours">Greater than 24 hours</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3  mt-5">
                                <label for="" class="form-label float-start">Claim</label>
                                <select (change)="OnClaimselect($event)" class="form-control form-select"
                                    formControlName="Claim" id="Claim" required>
                                    <option value="">Choose...</option>
                                    <option value="less than 1 lac">less than 1 lac</option>
                                    <option value="greater than 1 lac">greater than 1 lac</option>
                                    <option value="3">Any</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3  mt-5" *ngIf="IsTypeOfAccident">
                                <label for="" class="form-label float-start">Type Of Accident</label>
                                <select (change)="OnTypeofAccident($event)" class="form-control form-select"
                                    formControlName="TypeOfAccident" id="TypeOfAccident">
                                    <option value="">Choose...</option>
                                    <option value="1">Vehicle Slide/Head on collision
                                    </option>
                                    <option vale="2">Hit And Run</option>
                                </select>
                                <!-- <div *ngIf="submitted && f['Ailment'].invalid" class="invalid-feedback">
                                    <div *ngIf="f['Ailment'].errors?.['required']">Ailment required</div>
                                </div> -->
                            </div>
                        </div>
                        <div class="form-row">

                            <div class="form-group col-md-4 mt-5" *ngIf="IspassengerType">
                                <label for="" class="form-label float-start">Passenger/Driver or Implants used?</label>
                                <select class="form-control form-select" (change)="OnPassengerType($event)"
                                    formControlName="passengerType" id="passengerType">
                                    <option value="">Choose...</option>
                                    <option value="1">Driver</option>
                                    <option value="2">Passenger</option>
                                    <option value="3">Yes</option>
                                    <option value="4">No</option>
                                </select>

                            </div>

                            <div class="form-group col-md-4 mt-5" *ngIf="IsTypeOfVehicle">
                                <label for="" class="form-label float-start">Types Of Vehicles</label>
                                <select class="form-control form-select" formControlName="TypeOfVehicle"
                                    id="TypeOfVehicle">
                                    <option value="">Choose...</option>
                                    <option value="1">Speed Limited Scooter</option>
                                    <option value="2">Others</option>
                                </select>

                            </div>


                        </div>
                    </form>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

                    <button type="button" class="action-button previous previous_button float-start mt-5">Back</button>

                    <button type="submit" class="next action-button btn-sm px-5 float-end mt-5" form="medform"
                        [disabled]="!medicalForm.valid">Continue</button>


                    <p>{{this.doclist1}}</p>

                </fieldset>
                <fieldset>
                    <form [formGroup]="InsuaranceForm" class="mb-5" id="insuarance"
                        (ngSubmit)="OnInsuarancecontinue(InsuaranceForm)">
                        <div class="form-row">
                            <div class="form-group col-md-12 mb-3">

                                <h4 class="float-start">Insurance Information</h4>

                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="" class="form-label float-start">Insurance Company*</label>
                                <select class="form-control form-select" formControlName="InsuranceCompany"
                                    id="InsuranceCompany"
                                    [class.is-invalid]="I['InsuranceCompany'].invalid && (I['InsuranceCompany'].dirty || I['InsuranceCompany'].touched)"
                                    required>
                                    <option value="">Choose...</option>
                                    <option *ngFor="let y of insuaranceCompanyDetail" value={{y.id}}>{{y.name}}
                                    </option>
                                </select>


                            </div>
                            <div class="form-group col-md-3">
                                <label for="" class="form-label float-start">TPA*</label>
                                <select class="form-control form-select" id="TPA" formControlName="TPA"
                                    [class.is-invalid]="I['TPA'].invalid && (I['TPA'].dirty || I['TPA'].touched)"
                                    required>
                                    <option value="">Choose...</option>
                                    <option *ngFor="let t of TPADetail" value={{t.id}}>{{t.name}}</option>
                                </select>

                            </div>
                            <div class="form-group col-md-3">
                                <label for="" class="form-label float-start">TPA ID*</label>
                                <input type="text" class="form-control" formControlName="TPAID"
                                    [class.is-invalid]="I['TPAID'].invalid && (I['TPAID'].dirty || I['TPAID'].touched)"
                                    required>

                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3 mt-5">
                                <label for="" class="form-label float-start">Policy Holder*</label>
                                <input type="text" class="form-control" formControlName="PolicyHolder"
                                    [class.is-invalid]="I['PolicyHolder'].invalid && (I['PolicyHolder'].dirty || I['PolicyHolder'].touched)"
                                    required>

                            </div>
                            <div class="form-group col-md-3 mt-5">
                                <label for="" class="form-label float-start">Relation of patient with Policy
                                    Holder*</label>
                                <select class="form-control form-select" id="TPA" formControlName="RelationOPH"
                                    [class.is-invalid]="I['RelationOPH'].invalid && (I['RelationOPH'].dirty || I['RelationOPH'].touched)"
                                    required>
                                    <option value="">Choose...</option>
                                    <option *ngFor="let r of RPADetail" value={{r.id}}>{{r.relationshipName}}</option>
                                </select>

                            </div>
                            <div class="form-group col-md-6 mt-5">
                                <label for="" class="form-label float-start">Policy Number*</label>
                                <input type="text" class="form-control" formControlName="PolicyNumber">


                            </div>
                        </div>
                        <div class="form-row w-100">
                            <div class="form-group col-md-6 mt-5">
                                <input type="checkbox" formControlName="IsGroupPolicy"
                                    class="form-check-input float-start" id="same-address">
                                <label class="form-check-label  float-start" for="same-address">&nbsp; Group
                                    Policy</label>
                            </div>
                            <div class="form-group col-md-6 mt-5" style="visibility:hidden;">
                                <input type="checkbox" class="form-check-input float-start" id="same-address">
                                <label class="form-check-label  float-start" for="same-address">&nbsp; Group
                                    Policy</label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 mt-5">
                                <label for="" class="form-label float-start">Company / Corporate / Group*</label>
                                <input type="text" formControlName="Groupcompany" class="form-control">
                            </div>
                            <div class="form-group col-md-6 mt-5" style="visibility:hidden;">
                                <label for="" class="form-label float-start">Company / Corporate / Group*</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>

                    </form>
                    <button type="button" class="action-button previous previous_button float-start mt-5">Back</button>

                    <button type="submit" class="next action-button btn-sm px-5 float-end mt-5" form="insuarance"
                        [disabled]="!InsuaranceForm.valid">Continue</button>



                </fieldset>
                <fieldset>
                    <form [formGroup]="DocumentsForm">
                        <div class="row mb-5">

                            <div class="col-md-10">
                                <h4 class="float-start">Documents Upload</h4>
                            </div>
                            <div class="col-md-2">
                                <h5 class="float-start"><a href="" class="nolink"><img src="assets/img/add.png"> Add
                                        File</a>
                                </h5>
                            </div>


                        </div>
                        <!--  <form id="upload_form" enctype="multipart/form-data" method="post"> -->
                            <div class="form-row row">
                                <div class="card form-group col-sm-2 col-md-2 mx-3 my-3 p-0" *ngFor="let p of doclist,let i=index">
                                    <div class="card-body">
                                        <h6 class="mb-2 text-muted uploadtextb">{{p.docname}}</h6>
                                        <!-- <p class="card-text">  <input type="file" (change)="fileChange($event)" /></p> -->
                                        <div class="progress" id=progress_{{i}} *ngIf="progress && currentupload == i" >
                   
                                            <div class="progress-bar"  [style.width]="progress + '%'">{{progress}}%</div>
                                        </div>
                                        <h3 id="status_{{i}}" class="uploadtextc"></h3>
                                        <div style="text-align:center;">
                                            <!-- (click)="uploadAndProgressSingle()" -->
                                            <!-- <button type="file" (change)="fileChange($event)"  class="next action-button float-end mt-3">Upload</button> -->
                                            <label class="filelabel">Upload<input type="file"(change)="fileChange($event,i)"> </label>
                                        </div>
                                      </div>
                                </div>
                            </div>
                        <!-- </form> -->


                    </form>
                    <button type="button" class="action-button previous previous_button float-start mt-3">Back</button>
                    <button type="button" class="next action-button float-end mt-3">Continue</button>
                </fieldset>

                <fieldset>
                    <div class="form-row">
                        <div class="form-group col-md-12 mb-3">
                            <img src="assets/img/undraw-completing-re-i7ap.png" class="m-3 p-3">

                            <h5 style="color:#4C9EAA;"><strong>Submitted for Approval Successfully!</strong></h5>
                        </div>


                        <div class="form-group col-md-12 mt-5 mb-3">
                            <!-- <button type="button" class="action-button previous previous_button">Back</button>  -->

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">

                            <p>You will be automatically redirected to home page...</p>
                        </div>
                        <div class="form-group col-md-6">
                            <a href="dashboard-insu.html" class="btn btn-primary btn-lg px-5 float-end">Dashboard</a>

                        </div>
                    </div>



                </fieldset>


            </form>
        </section>

    </div>

</div>